[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

blessed = "*"
events = {git = "git://github.com/Akhail/events.git"}
"flake8" = "*"


[dev-packages]

bumpversion = "==0.5.3"
watchdog = "==0.8.3"
"flake8" = "==2.6.0"
tox = "*"
coverage = "==4.1"
sphinx = "==1.4.8"
cryptography = "*"
pyyaml = "==3.11"
sphinx-rtd-theme = "*"
docutils = "*"
pylint = "*"
"autopep8" = "*"