[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

blessed = "*"
events = {git = "https://github.com/Akhail/events.git"}


[dev-packages]

pylint = "*"
pytest = "*"
"autopep8" = "*"